/* @import './theme/theme-rosepine.css'; */
@import './theme/theme-shadrose.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@layer components {
	.link {
		@apply text-primary underline-offset-4 hover:underline;
	}
}

html,
body,
.bg-card {
	@apply !transition-colors !duration-100;
}

/* body {                            
	@apply bg-gradient-to-br from-primary to-secondary text-foreground;
}
.bg-card {
	@apply bg-card/55 backdrop-blur-md;
} */

iconify-icon {
	display: inline-block;
	width: 1em;
	height: 1em;
}
