@import './theme/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@layer components {
	.link {
		@apply text-primary underline-offset-4 hover:underline;
	}
}

html,
body,
.bg-card {
	@apply !transition-colors !duration-100;
}

iconify-icon {
	display: inline-block;
	width: 1em;
	height: 1em;
}

.bg-card-base {
	@apply bg-card;
}
